version: '3'

services:
  meu-react:
    container_name: react-app
    # AQUI ESTÁ A MUDANÇA: 'build: .' diz para usar o Dockerfile desta pasta
    build: . 
    restart: always
    networks:
      - IaAgentsNet # A rede do seu Traefik
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.react-app.rule=Host(`b2nexus.com`)"
      - "traefik.http.routers.react-app.entrypoints=websecure"
      - "traefik.http.routers.react-app.tls.certresolver=myresolver"
      - "traefik.http.services.react-app.loadbalancer.server.port=80"

networks:
  IaAgentsNet:
    external: true